.form {
  max-width: 540px;
  margin: 0 auto;
  padding: 40px 10px;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .title {
  color: var(--font-color-alternative);
  font-size: var(--font-size-title-big);
  padding: 12px 0;
}

.logo img {
  width: 80px;
}

.container {
  outline: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  padding: 24px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subTitle {
  color: var(--font-color-alternative);
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-body);
  text-transform: none;
}

.password button {
  top: 19px !important;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.returnButton {
  color: var(--btn-bg-color);
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: var(--btn-bg-color);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 10px;
  height: 36px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitButton .icon {
  font-size: 18px;
}

.submitButton:hover {
  background-color: var(--btn-bg-color-hover);
  transition: 0.3s ease;
}

.submitButton:hover {
  background-color: var(--btn-bg-color-hover);
  transition: 0.3s ease;
}

.submitDisabled {
  pointer-events: none;
  background: var(--btn-bg-color-grey);
}

.submitSent {
  background: var(--btn-bg-color-green);
  pointer-events: none;
}

.submitError {
  background: var(--btn-bg-color-red);
}

.submitError:hover {
  background: var(--btn-bg-color-red);
}

@media (max-width: 575px) {
  .group {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}